<!DOCTYPE html>
html(lang="fr")
head
	meta(charset="UTF-8")
	title Eco pa tu manaa | dimitri
	link(rel="stylesheet", href="./css/style.css")
	script src=./js/app.js
body
		block content
		footer
			p Copyright