body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
    background-color: yellowgreen;
    text-align: center;
}
h1 {
    font-size: 70px;
}
a {
    font-size: 40px;
}
div {
    border: #000 solid 2px;
    margin: 5em;
    padding: 2em;
}
footer {
    color: red;
    background-color: #000;
} 
