extends ../layout.pug

block content
	section
		article
			p Bienvenue #[strong #{hope}]
			h1= result.title
			p= result.content
			form(action="/challenge/advices", method="post")
				div
					label(for="advice") Conseil
					textarea(id="advice", name="advice" rows="5" cols="33" placeholder="Créer ton défi")
				div
					button(type="submit") Envoyer