extends ../layout.pug

block content
	section
		a(class='btn' id='submit_re' href='/') déconnexion 
		p Bienvenue #[strong #{hope}]
		p id = #{id}
		h1 Eco pa tu manaa !
		each result in results
			article
				h3= result.title
				p= result.content
				p= result.id
				a(class='btn' id='submit_re' href='defi/' + result.id) Ce lancer le défi ?
				