extends ../layout.pug

block content
	section
		article
			p Bienvenue #[strong #{name}]
			h1= result.title
			p= result.content
			form(action="/defi", method="post")
				div
					label(for="advice") Conseil
					textarea(id="advice", name="advice" rows="5" cols="33" placeholder="Laisse un conseil pour ce défi")
				div
					button(type="submit") Envoyer
