extends ../layout.pug

block content
	section
		header
		h1 Eco pa tu manaa !!
		div
			a(class='btn' id='submit_co' href='/login') Seconnecter
		div
			a(class='btn' id='submit_re' href='/register') S'enregistrer


				