extends ../layout.pug

block content
	section
		h1 connection
		form(action="/login", method="post")
			div
				label(for="login_co") Entre ton pseudo
				input(id="login_co", type="text", name="login_co",placeholder="Ton pseudo")
			div
				label(for="password_co") Entre un mot de passe
				input(id="password_co", type="password", name="password_co", placeholder="Ton mot de passe")
			div
				button(type="submit") Envoyer
				
		a(class='btn' id='submit_re' href='/register') S'enregistrer
		