extends ../layout.pug

block content
	section
		h1 S'enregistrer
		form(action="/challenge/form", method="post")
			div
				label(for="login") Entre ton pseudo
				input(id="login", type="text", name="login",placeholder="Ton pseudo")
			div
				label(for="mail") Entre ton E-mail
				input(id="mail", type="mail", name="mail", placeholder="Ton E-mail")
			div
				label(for="password") Entre un mot de passe
				input(id="password", type="password", name="password", placeholder="Ton mot de passe")
			div
				button(type="submit") Envoyer